
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   
    #save{
        @apply  btn variant-filled-primary  mr-3  p-1 pl-4 pr-4 rounded-container-token
    }

    #icon{
        @apply  text-tertiary-500 p-1
    }
}