
@tailwind components;

@layer components {
	[data-button='select'] {
		@apply !variant-filled-primary btn  mr-3  p-1 pl-4 pr-4 rounded-container-token;
	}

	[data-button-icon='select'] {
		@apply p-1 dark:text-tertiary-900;
	}
}
