@tailwind components;
@layer components {
	[data-button='quit'] {
		@apply !variant-filled-error btn  bg-error-400 p-1 rounded-container-token;
	}

	[data-button-icon='quit'] {
		@apply rotate-45 p-1 text-tertiary-500;
	}
}
