
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   
    [data-button="delete"]{
        @apply  btn !variant-filled-error bg-error-400  mr-3 p-1 pl-4 pr-4 rounded-container-token
    }

    [data-button-icon="delete"]{
        @apply  text-tertiary-500 p-1
    }
}