/* Write your global styles here, in PostCSS syntax */

@import '/static/main.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.cooperatives-container {
		.cooperative-item {
			@apply mb-2 mt-2 flex w-full flex-row justify-between rounded-full p-4 pb-2 pt-2  font-bold cursor-pointer;
		}

		.cooperative-active {
			@apply bg-red text-white;
		}
		.cooperative-inactive {
			@apply bg-[#DCEFFC] text-blue;
		}
	}
}
