
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
    [data-button="website"]{
        @apply btn variant-ghost-tertiary ring-tertiary-400 p-1 pl-4 pr-4 rounded-container-token bg-surface-50
    }

    [data-button-icon="website"]{
        @apply  text-tertiary-900 dark:text-white p-1;
    }


}