
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-logout{
        @apply btn variant-ghost-secondary bg-tertiary-100 ring-tertiary-400 p-1 pl-4 pr-4 rounded-container-token;

    }
 
    
    .logout-icon{
        @apply text-tertiary-400 dark:text-white;
    }
}