@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.back-a {
		@apply variant-ghost-secondary btn mr-4 p-1 pl-4 pr-4  rounded-container-token;
	}

	.btn-menu {
		@apply variant-ghost-tertiary btn mr-4 p-1 pl-4 pr-4 rounded-container-token;
	}

	.back-icon {
		@apply text-secondary-500;
	}
}
