
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .back-a{
        @apply btn variant-ghost-secondary p-1 pl-4 pr-4 mr-4  rounded-container-token;

    }

    .btn-menu{
        @apply btn variant-ghost-tertiary p-1 pl-4 pr-4 mr-4 rounded-container-token ;
    }


    .back-icon{
        @apply text-secondary-500;
    }

}