//SCSS GLOBAL SI BESOIN

@font-face {
	font-family: Funnel Sans;
	src: url('/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf');
}

@font-face {
	font-family: Funnel Sans Italic;
	src: url('/fonts/Funnel_Sans/FunnelSans-Italic-VariableFont_wght.ttf');
}

:root {
	/* Colors: */
	--white-color-ffffff: #ffffff;
	--dark-color-0d1c30: #0d1c30;
	--blue-color-007bc3: #007bc3;
	--lightgrey-color-dceffc: #dceffc;
	--grey-color-4d5f7b: #4d5f7b;
	--red-color-e65247: #e65247;

	/* Font/text values */
	--funnel-sans-font-family: Funnel Sans;
	--font-style-normal: normal;
	--font-weight-300: 300px;
	--font-weight-600: 600px;
	--font-weight-800: 800px;
	--font-weight-medium: medium;
	--font-size-15: 15px;
	--font-size-18: 18px;
	--font-size-35: 35px;
	--font-size-45: 45px;
	--character-spacing-0: 0px;
	--line-spacing-18: 18px;
	--line-spacing-19: 19px;
	--line-spacing-23: 23px;
	--line-spacing-40: 40px;
	--line-spacing-44: 44px;
	--text-transform-uppercase: uppercase;

	font-family: var(--funnel-sans-font-family);
	font-size: 16px;

	@media (min-width: 144rem) {
		font-size: 1vw;
	}
	@media (max-width: 144rem) {
		font-size: 1vw;
	}

	@media (max-width: 124rem) {
		font-size: 18px;
	}

	@media (max-width: 96rem) {
		font-size: 16px;

		@media (min-aspect-ratio: 16/10) {
			font-size: 14px;
		}
	}

	@media (max-width: 80rem) {
		font-size: 14px;
	}

	@media (max-width: 72rem) {
		font-size: 13px;
	}

	@media (max-width: 64rem) {
		font-size: 12px;
	}

	@media (max-width: 56rem) {
		font-size: 11px;
	}

	@media (max-width: 48rem) {
		font-size: 10px;
	}

	@media (max-width: 44rem) {
		font-size: 9px;
	}

	@media (max-width: 40rem) {
		font-size: 8px;
	}
}

.swiper-pagination-home {
	padding-left: 48px;
}
.swiper-pagination-bullet {
	border: 2px solid #fff;
	width: 16px !important;
	height: 16px !important;
}

/* Character Styles */
// .h3-blue {
// 	font-family: var(--funnel-sans-font-family);
// 	font-style: var(--font-style-normal);
// 	font-weight: var(--font-weight-medium);
// 	font-size: var(--font-size-15);
// 	line-height: var(--line-spacing-19);
// 	letter-spacing: var(--character-spacing-0);
// 	color: var(--blue-color-007bc3);
// 	text-transform: var(--text-transform-uppercase);
// }
// .h3-footer {
// 	font-family: var(--funnel-sans-font-family);
// 	font-style: var(--font-style-normal);
// 	font-weight: var(--font-weight-medium);
// 	font-size: var(--font-size-15);
// 	line-height: var(--line-spacing-19);
// 	letter-spacing: var(--character-spacing-0);
// 	color: var(--white-color-ffffff);
// 	text-transform: var(--text-transform-uppercase);
// }
// .liste-darkblue {
// 	font-family: var(--funnel-sans-font-family);
// 	font-style: var(--font-style-normal);
// 	font-weight: var(--font-weight-300);
// 	font-size: var(--font-size-15);
// 	line-height: var(--line-spacing-18);
// 	letter-spacing: var(--character-spacing-0);
// 	color: var(--dark-color-0d1c30);
// }
// .intro-white {
// 	font-family: var(--funnel-sans-font-family);
// 	font-style: var(--font-style-normal);
// 	font-weight: var(--font-weight-600);
// 	font-size: var(--font-size-18);
// 	line-height: var(--line-spacing-23);
// 	letter-spacing: var(--character-spacing-0);
// 	color: var(--white-color-ffffff);
// }
// .intro-darkblue {
// 	font-family: var(--funnel-sans-font-family);
// 	font-style: var(--font-style-normal);
// 	font-weight: var(--font-weight-600);
// 	font-size: var(--font-size-18);
// 	line-height: var(--line-spacing-23);
// 	letter-spacing: var(--character-spacing-0);
// 	color: var(--dark-color-0d1c30);
// }
// .h2-blue {
// 	font-family: var(--funnel-sans-font-family);
// 	font-style: var(--font-style-normal);
// 	font-weight: var(--font-weight-800);
// 	font-size: var(--font-size-35);
// 	line-height: var(--line-spacing-44);
// 	letter-spacing: var(--character-spacing-0);
// 	color: var(--blue-color-007bc3);
// }
// .corps-darkblue-bold {
// 	font-family: var(--funnel-sans-font-family);
// 	font-style: var(--font-style-normal);
// 	font-weight: var(--font-weight-600);
// 	font-size: var(--font-size-15);
// 	line-height: var(--line-spacing-19);
// 	letter-spacing: var(--character-spacing-0);
// 	color: var(--dark-color-0d1c30);
// }
// .corps-darkblue {
// 	font-family: var(--funnel-sans-font-family);
// 	font-style: var(--font-style-normal);
// 	font-weight: var(--font-weight-300);
// 	font-size: var(--font-size-15);
// 	line-height: var(--line-spacing-19);
// 	letter-spacing: var(--character-spacing-0);
// 	color: var(--dark-color-0d1c30);
// }
// .h1-white {
// 	font-family: var(--funnel-sans-font-family);
// 	font-style: var(--font-style-normal);
// 	font-weight: var(--font-weight-800);
// 	font-size: var(--font-size-45);
// 	line-height: var(--line-spacing-40);
// 	letter-spacing: var(--character-spacing-0);
// 	color: var(--white-color-ffffff);
// }
// .corps-white {
// 	font-family: var(--funnel-sans-font-family);
// 	font-style: var(--font-style-normal);
// 	font-weight: var(--font-weight-300);
// 	font-size: var(--font-size-15);
// 	line-height: var(--line-spacing-19);
// 	letter-spacing: var(--character-spacing-0);
// 	color: var(--white-color-ffffff);
// }

#contenu {
	.block-header {
		color: var(--dark-color-0d1c30);
	}


	.block-button {
		margin-bottom: 64px;
	}

	h2 {
		padding: 2rem;
		font-size: 2rem;
		line-height: 2rem;
		margin-bottom: 1rem;
		font-weight: bold;
	}

	h3 {
		padding: 1rem;
		font-size: 1.5rem;
		line-height: 1.5rem;
		margin-bottom: 1rem;
		font-weight: bold;
	}

	h4 {
		padding: 1rem;
		font-size: 1.25rem;
		line-height: 1.25rem;
		margin-bottom: 1rem;
		font-weight: bold;
	}

	.block-nestedList {
		ul {
			list-style: none;
			padding-left: calc(var(--index) * 16px);
			li {
				margin-bottom: 8px;
				display: flex;
				&:before {
					content: var(--index);
					margin-right: 8px;
				}
			}
		}
	}
}
