@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	[data-button='disconect'] {
		@apply variant-ghost-secondary btn bg-surface-50 p-1 pl-4 pr-4 ring-tertiary-400 rounded-container-token;
	}

	[data-button-icon='disconect'] {
		@apply p-1 text-tertiary-900 dark:text-white;
	}
}
