
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   
    #disconnect{
        @apply btn variant-ghost-secondary ring-tertiary-400 p-1 pl-4 pr-4 rounded-container-token bg-surface-50
    }

    #icon{
        @apply  text-tertiary-900 dark:text-white p-1;
    }


}