
/* Write your global styles here, in PostCSS syntax */

@import '/static/main.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .form{
        @apply flex flex-col items-center justify-center bg-surface-800 rounded-md p-8 drop-shadow-md;
    }

    .form-group{
        @apply w-full;
 
    }

    .msgError{
        @apply text-red-500 text-sm mb-2;
    }

    label{
        @apply text-tertiary-200 text-base mb-1;
    }

    input[type="text"],
    input[type="password"]
    {
        @apply caret-primary-300 focus:border-primary-500 focus:caret-primary-500 border-2 border-tertiary-400 text-primary-100 bg-surface-700 rounded-md p-2 w-full mb-2;
    }


    button[type="submit"]{
        @apply  variant-filled-primary rounded-md p-2  mt-4;
    }
}