
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   
    [data-button="create"]{
        @apply  btn variant-filled-primary  mr-3 p-1 pl-4 pr-4 rounded-container-token
    }

    [data-button-icon="create"]{
        @apply  text-tertiary-500 p-1
    }
}