@tailwind components;
@layer components {
	[data-button='create'] {
		@apply variant-filled-primary btn  mr-3 p-1 pl-4 pr-4 rounded-container-token;
	}

	[data-button-icon='create'] {
		@apply !ml-0 p-1 text-tertiary-500 sm:!ml-1;
	}
}
