
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .li a{
        @apply underline-offset-4 decoration-secondary-500;

    }
    .li a.active{
        @apply underline;
    }

    .ul-parent ul {
        @apply ml-4;
    }


}